
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>An error has ocurred</h2>
<h3>Details:</h3>
<b>@ViewBag.Reason</b>
<a href="javascript:void(0);" id="backLink">Back</a>

<script type="text/javascript">
        $(document).on('click', '#backLink', function () {
            history.go(-1);
        });
</script>